/*--------------Grid--------------*/
.grid-template{
    display: grid;
    grid-template-areas: "a a a a"
                         "b b b b"
                         "c c c c"
                         "d d d d"
                         "e e e e"
                         "f f f f"
                         "g g g g"
                         "h h h h"
                         "i i i i"
                         "j j j j"
                         "k k k k"
}

header.grid-item{
    grid-area: a;
    width: 100%;
    height: 670px;
    background-image: url("./images/alesia-kazantceva-XLm6-fPwK5Q-unsplash.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.about-section{
    grid-area: b;
    width: 100%;
    height: 420px;
    background-color: #fff;
}

.professional-skills-section{
    grid-area: c;
    width: 100%;
    height: 570px;
    background-color: #F8F9F9;
    background-image: url("./images/prof-skills-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left left;
}
.info-numbers-section{
    grid-area: d;
    width: 100%;
    height: 240px;
    background-color: #10C9C3;
}
.photo-section{
    grid-area: e;
    width: 100%;
    height: 690px;
    background-color: #EEEEEE;
}
.process-section{
    grid-area: f;
    width: 100%;
    height: 929px;
    background-color: #FFFFFF;
}
.category-section{
    grid-area: g;
    width: 100%;
    height: 535px;
    background-color: #F5F5F5;
}
.q-section{
    grid-area: h;
    width: 100%;
    height: 500px;
    background-color: #10C9C3;
}
.logos-section{
    grid-area: i;
    width: 100%;
    height: 200px;
    background-color: #FFF;
}
.form-section{
    grid-area: j;
    width: 100%;
    height: 752px;
    background-color: #F5F5F5;
}
footer.grid-item{
    grid-area: k;
    width: 100%;
    height: 284px;
    background-color: #141414;
}
/*------grid------*/

/*-------navbar------*/


  a {
    text-decoration: none;
    color: #191919;
    
    
  }
  
  a:hover {
    color: #1ECBC6;
  }
  nav {
    display: flex;
    margin-right: 58px;
    margin-top: 45px;
  }
  
  ul {
    display: flex;
    align-items: center;
    margin:0;
    list-style: none;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
  
  .brand {
    padding: 38px 0 0 98px;
    height: 28px;
  }
  
  a.nav-link {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    padding-right: 40px;
}
  
.header-info-block {
    float: right;
    margin-right: 150px;    
}

.header-info-block h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    margin-top: 182px;

}

.header-info-block p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    margin-top: 40px;
    line-height: 1.5;
    padding-left: 4px;
}


.header-info-block button{
    height: 55px;
    width: 180px;
    background-color: #10C9C3;
    border: none;
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    margin-left: 4px;
}

.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-container h2{
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.about-container p{
    margin-top: 40px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #787878;
}

.about-container img{
    margin-top: 38px;
    height: 57px;
    width: 223px;
}

.skills-section{
        margin-top: 166px;
        margin-left: 100px;
}

.professional-skills-section div h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px; 
}

.professional-skills-section div ul{
    display: inline-table;
}

.prof-skills-li{
    display: block;
}

.prof-skills-li p {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px; 
    text-transform: uppercase;
    margin-top: 42px;
}

.myBar {
    
    height: 3px;
    background-color: #10C9C3;
    color: #000;
}

.bar1 {
    width: 75%;
}
.bar2 {
    width: 90%;
}
.bar3 {
    width: 65%;
}
.myProgress{
    width: 500px;
    height: 3px;
    background-color: #D8D8D8; 
    margin-top: 20px; 
}

/*--------------------*/

.info-numbers-section ul{
    display: flex;
    flex-direction: row;
    height: 100%;
    
    
}

.info-numbers-section ul li{
    color: white;   
    font-size: 17.5px;
    flex-basis: 25%;
    margin-left: 100px;
    
}
.info-numbers-section ul li i{
   float: left;
   padding-top: 2px;
  
}


.info-numbers-section ul li  span{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 28px;

}

.info-numbers-section ul li p{
    font-size: 11px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 16px;
    margin-left: 63px;
  }


  .photo-section{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 25%;
    align-content: flex-start;
    position: relative;
    box-sizing: border-box;
}

.post{
    width: 337px;
    height: auto;
    position: relative;    
    cursor: pointer;
}
.post:hover .post-shadow{
    width: 337px;
}

.post img{
    display: block;
    width: 337px;
    height: auto;
    
}

.post-shadow{
    width: 0px;
    height: 301px;
    position: absolute;
    background: #000;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;  
    transition: 0.7 ease;
    opacity: 0.85;
}

.photo-section button{
    width: 100%;
    height: 101px;
    border: none;
    background-color: #F5F5F5;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    color: #8F8F8F;
    font-weight: bold;
}
.photo-section button:hover {
    color: #1ECBC6;
}

.post-shadow i{
    color: white;
}

.process-section h3{
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    text-align: center;
    padding-top: 100px;
    font-weight: bold;
}

.process-section p{
    color: #8F8F8F;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    text-align: center;
    padding-top: 40px;
    line-height: 150%;
}

.process-section iframe{
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:50px;
}

.category-section ul{
    display: grid;
    height: 535px;
    grid-template-columns: 25% 25% 25% 25%;   
    grid-template-rows: 50% 50% ; 
    justify-items: center;
    align-items: center;
}


.category-section ul li i{
    margin-left: 43%;
    color: #656565;
}

.category-section ul li h4{
    text-align: center;
    padding-top: 31px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
}

.category-section ul li p{
    text-align: center;
    padding-top: 21px;
    font-family: 'Montserrat', sans-serif;
    color: #656565;
}
 
.q-section p{
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-top: 177px;
    line-height: 30px;
}

.q-section h4{
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    padding-top: 40px;
    text-transform: uppercase;
}

.logos-section {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

}

.section-logo{
    padding-top:10%;
    padding-left:5%;
}

.form-section h2{
    color: black;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-align: center;
    padding-top: 104px;
}

.form-section p{
    color: #656565;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    padding-top: 42px;
}


.form-section form{
    margin-top: 42px;
    margin-left: 26%;
}


.text-input{
    width: 314px;
    border: none;
    height: 50px;
}
.email-input{
    width: 314px;
    border: none;
    height: 50px;
    margin-left: 17px;
}

.title-input{
    margin-top: 30px;
    width: 652px;
    border: none;
    height: 50px; 
    display: block;
}

.ta-input{
    margin-top: 30px;
    width: 652px;
    height: 170px;
    border: none;
    display: block;
    font-family: "Lucida Sans Unicode",sans-serif;
    font-size: 16px;
    padding-top: 17px;
    resize: none;

}

::-webkit-input-placeholder { /* WebKit browsers */
    padding-left: 20px;
}

.form-section form button{
    height: 53px;
    width: 180px;
    color: white;
    background-color: #1ECBC6;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: 23%;
    border: none;
    font-weight: bold;
}

footer{
    display: grid;
    grid-template-columns: 41.5% 21.8% 8.2% 11.5% 14.7%;
    color: #bbbbbb;
    font-family: 'Montserrat', sans-serif;
    padding-top: 100px;
    font-size:14px;
    line-height: 1.5;
}

.footer-cantainer1{
    padding-left: 100px;
}

.footer-cantainer1 h4{
    color: white;
    font-size:16px;

}

.footer-cantainer1 p{
    padding-top:32px;
}

footer div li{
    list-style-type: none;
}
footer div li:hover{
    color: white;
}




